<% include ./partials/header %>

  <a href="/displays" class="btn btn-info">Go Back</a>
    <div class="panel panel-default">
    <!-- Default panel contents -->
      <div class="panel-body">
       <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Phone or Email</th>
              <th>Service Type</th>             
            </tr>
          </thead>
          <tbody>
                <tr>
                <td>
                  <%= display.name %>           
                </td>                
                <td>
                  <%= display.contact %>
                </td>
                <td>
                  <%= display.service %>, <%= display.extraservice %>
                </td>
                <td>
                  <%= display.created.toLocaleDateString() %>
                </td>               
              </tr>
          </tbody>
        </table>
      </div>
    </div>     
      <a class="btn btn-lg btn-warning btn-block" href="/displays/<%= display._id %>/edit">Edit</a>
      <form action="/displays/<%= display._id %>?_method=delete" method="post">
        <button id="alertDanger" class="btn-lg btn-danger btn-block">Delete</button>
      </form>
    </div>

<script>
  $("#alertDanger").click(function(){
    var pass = prompt("Please enter password!!");
    var passKey = "thanh123";
    while (pass != passKey) {
      pass = prompt("Please try again!");
      if (pass == passKey) {
        console.log();
    }
  }
});  
</script
 

<% include ./partials/footer %>